attrs==21.4.0
click==8.0.3
cycler==0.11.0
fonttools==4.31.2
iniconfig==1.1.1
kiwisolver==1.4.2
matplotlib==3.5.1
mypy-extensions==0.4.3
numpy==1.22.2
opencv-python==4.5.5.62
packaging==21.3
pandas==1.4.2
pathspec==0.9.0
Pillow==9.1.0
platformdirs==2.5.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.0.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
scipy==1.9.2
six==1.16.0
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.1.1
websockets==10.2
