*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    /* background: rgb(179, 172, 172); */
    /* background: rgb(255, 255, 255); */
    /* background: rgb(0, 0, 0); */
    /* background: rgb(61, 60, 60); */
}

body{
    overflow-x: hidden;
}

.webgl
{
    position: fixed;
    /* position: alsolute; */
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.container{
    height: 100vh;
    display: grid;
    place-items: center;
}

.text{
    padding-left: 10% ;
    width: 80%;
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

h2{
    font-size: 1.5rem;
    color: #fff;
}

section{
    height: 100vh;
}